body {
	background-color: #424242;
}
.title {
	color: #10a08c;
	margin: 2%;
}
ul, ol {
	text-decoration: none;
	list-style: none;
}

img {
	width: 55%;
	border-radius: 10px;
	border: 10px solid #fff;
}

.pagination1 li {
	display: inline-block;
	margin-top: 1%;
	padding-left: 0.5%;

}
.pagination2 {
	width: 10%;
}
.pagination2 a {
	display: inline-block;
	margin: 0 3% 0 3%;
}